@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/FineUploader/jquery.fineuploader-4.1.0.min.js" type="text/javascript"></script>
    <link href="~/Scripts/FineUploader/fineuploader-4.1.0.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var manualuploader = $('#manual-fine-uploader').fineUploader({
                request: {
                    endpoint: '/FineUploader/Index'
                },
                //显示错误信息（Controller返回的json）
                failedUploadTextDisplay: {
                    mode: 'custom',
                    maxChars: 400,
                    responseProperty: 'error',
                    enableTooltip: true
                },
                validation: {
                    //itemLimit: 3,
                    allowedExtensions: ['jpg', 'xlsx','xls', 'txt'],
                    sizeLimit: 10240000 // 10M
                },
                template: "qq-template-manual-noedit",
                autoUpload: false,

                callbacks:
                {
                    //文件开始提交(在浏览窗口中选择的每个文件都会触发该事件）
                    //id:文件在队列中的索引
                    //fileName:文件名称
                    onSubmit: function (id, fileName) {
                        //alert('this is  onSubmit Function，your selected is：' + fileName);
                        //只能上传规定的文件
                        var name = fileName.split('.')[0];//不带后缀名
                        switch (name) {
                            case 'Member':
                                break;
                            case 'Guestbook':
                                break;
                            default:
                                alert('请选择正确的文件上传!');
                                return false;
                                break;                              
                        }
                    },
                    //文件开始上传
                    onUpload: function (id, fileName) {
                        $('#file-' + id).addClass('alert-info')
                                        .html('<img src="../Scripts/FineUploader/loading.gif" alt="" /> alt="Initializing. Please hold."> ' +
                                        'Initializing ' +
                                        '“' + fileName + '”');
                        $('#progress').show();//显示进度动画
                    },
                    //文件上传失败
                    onError: function (event, id, name, errorReason, xhrOrXdr) {
                        //alert(qq.format("Error on file number {} - {}.  Reason: {}", id, name, errorReason));
                        //$('#message').append('上传文件失败:' + id, '<br/>' + name,+'<br/>'+ errorReason.response + '<br/>');
                    },
                    //文件上传结束
                    onComplete: function (id, fileName, responseJSON) {
                        //上传失败的保留在上面，成功的显示在下面。
                        //For the jQuery version, use $($(this).fineUploader('getItemByFileId', id)).hide('slow'); 
                        //I suggest adding this to the answer, I struggled for some time till I could figure this out. –  Iravanchi Jun 21 '13 
                        if (responseJSON.success == true) {
                            $(this.getItemByFileId(id)).hide('slow');
                            $('#message').append(responseJSON.msg);
                        }
                        //alert('This is onComplete function.');
                        //alert("complete name:"+responseJSON.name);//responseJSON就是controller传来的return Json
                        $('#progress').hide();//隐藏进度动画                      
                    }
                }
            });

            $('#triggerUpload').click(function () {
                manualuploader.fineUploader('uploadStoredFiles');
            });
        });
    </script>
    <script type="text/template" id="qq-template-manual-noedit">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span>Drop files here to upload</span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>选择文件</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
                <li>
                    @*<div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>*@
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">取消</a>
                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>
    <style type="text/css">
        .btn {
            background-color: #F87436;
            background-image: -moz-linear-gradient(center top, #F88D5A, #E65C47);
            color: #FFFFFF;
            text-shadow: none;
            width: 93px;
            text-align: center;
            cursor: pointer;
            padding: 6px;
        }

        #message {
            margin-top: 1px;
        }

            #message p {
                margin: 0px;
                padding: 9px;
                color: white;
            }
    </style>
</head>
<body>
    <!-- Fine Uploader DOM Element -->
    <div id="manual-fine-uploader"></div>
    <div id="triggerUpload" class="btn btn-primary" style="margin-top: 10px;">
        开始上传
    </div>
    <img id="progress" src="../Scripts/FineUploader/loading.gif" style="display: none;" />
    <div id="message"></div>
</body>
</html>
