@{
    Layout = null;
}
@Html.Partial("_LoginPartial")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script type="text/javascript" src="~/Scripts/i18n/grid.locale-cn.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jqGrid.min.js"></script>

    <link href="~/Content/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript">
        $(function () {
            jQuery("#grid").jqGrid({
                data: [
                    { id: "1", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
                    { id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
                    { id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
                ],
                datatype: "local",
                height: 250, colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
                colModel: [{ name: 'id', index: 'id', width: 60, sorttype: "int" },
                    { name: 'invdate', index: 'invdate', width: 90, sorttype: "date" },
                    { name: 'name', index: 'name', width: 100 },
                    { name: 'amount', index: 'amount', width: 80, align: "right", sorttype: "float" },
                    { name: 'tax', index: 'tax', width: 80, align: "right", sorttype: "float" },
                    { name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },
                    { name: 'note', index: 'note', width: 150, sortable: false }],
                multiselect: true, caption: "Manipulating Array Data"
            });
        });
</script>
</head>
<body>
    @Html.ActionLink("客户端数据","ShowLocalData")
    <div>
        <table id="grid"></table>
        <div id="pager"></div>
    </div>
</body>
</html>