@{
    ViewBag.Title = "SubGrid";
}
<script type="text/javascript">
$(function () {
    //配置jqGrid
    $("#grid").jqGrid({
        url: "/Home/GetSearchData",
        datatype: "json",
        mtype: "get",
        colModel: [
            { label: 'Number', name: 'No', index: 'No', width: 60, sorttype: "int" },
            { label: 'Name', name: 'Name', index: 'Name', width: 90 },
            { label: 'Email', name: 'Email', index: 'Email', width: 100, sortable: false },
            { label: 'Age',name:'Age',index:'Age'},
            {
                label: 'Birthday', name: 'Birthday', index: 'Birthday', width: 100,
                formatter: 'date', formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' },
                editable: true, editrules: { required: true }
            },
            {
                label: 'Created On', name: 'CreatedOn', index: 'CreatedOn', width: 150,
                formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
            }
        ],
        caption: "jqGrid Multiple Search",
        loadonce: false,    //排序翻页等操作在服务端完成
        rowNum: 5,
        rowList: [5, 10, 20],  //设置分页下拉列表
        pager: "#pager",
        viewrecords: true,
        width: 500, height: "auto",
        jsonReader: { repeatitems: false },
        sortorder: "asc",
        sortname: "No",//传递给服务端的排序字段名
        subGrid: true,//开启子表格-------------------------------------------------------------------
        subGridRowExpanded: function(subgrid_id, row_id) {  //子表格容器的id和需要展开子表格的行id（行索引）  
            var subgrid_table_id = subgrid_id + "_t";   //根据subgrid_id定义对应的子表格的table的id               
            var subgrid_pager_id = subgrid_id + "_pgr"  //根据subgrid_id定义对应的子表格的pager的id  
              
            //动态添加子报表的table和pager  
            $("#" + subgrid_id).html("<table id='"+subgrid_table_id+"' class='scroll'></table><div id='"+subgrid_pager_id+"' class='scroll'></div>");               
            //获得要传递的值
            var memberId = $("#grid").jqGrid("getRowData", row_id).No;//row_id是父表格选中行的索引
            //创建jqGrid对象  
            $("#" + subgrid_table_id).jqGrid({  
                url: "/Home/GetSubGridData?MemberId=" + memberId,  //子表格数据对应的url，注意传入的MemberId参数在Controller里用Request.QueryString["MemberId"]来接收!  
                datatype: "json",  
                colModel: [  
                    { label: 'Guestbook No.',name:"No",index:"No",width:80,key:true},  
                    { label: 'Message', name: "Message", index: "Message", width: 130 },
                    { label: 'Created On', name: "CreatedOn", index: "CreatedOn", formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' } }
                ],  
                jsonReader: {   //针对子表格的jsonReader设置   
                    repeatitems : false  
                },  
                pager: subgrid_pager_id,  
                viewrecords: true,  
                height: "100%",  
                rowNum: 5,
                sortorder: "asc",
                sortname: "No",//传递给服务端的排序字段名
            });  //end subGrid  
        }   // end subGridRowExpanded-------------------------------------------------------------
    });  //end jqGrid
});
</script>

<h2>SubGrid</h2>

<table id="grid"></table>
<div id="pager"></div>

