@{
    ViewBag.Title = "upload";
}

<script src="~/Scripts/jquery.form.min.js"></script>
<script type="text/javascript">
    $(function () {
        //清除文件文本框的内容 http://www.campusmvp.net/blog/clearing-a-typefile-input            
        $("input[type=file]").after(
            " <a href='#' class='clear-inputfile'>清除内容</a>" + " | " +
            " <a href='#' class='removeInputFile'>取消</a>    " + " | " +
            " <a href='#' class='addInputFile'>增加</a>"
            );
        $(".clear-inputfile").click(function () {
            var input = $(this).prev("input[type=file]");
            var clone = input.clone();
            clone.val(null);//解决firefox里清除无效                
            input.replaceWith(clone);
            return false;
        });
        //添加 （复制当前行）          
        $('.addInputFile').click(function () {
            var clone = $(this).parent().clone(true);//true:连事件一起复制
            var file = clone.children("input[type=file]").val(null);
            $(clone).insertAfter($(this).parent());
        });
        //删除            
        $('.removeInputFile').click(function () {
            var num = $('#upload input[type=file]').length;
            if (num == 1) {
                alert('必须保留一个！');
                return false;
            }
            $(this.parentElement).remove();
        });
        // 上传文件表单
        $("#uploadform").ajaxForm({
            iframe: true,
            dataType: "json",
            beforeSubmit: function (formData) {//formData is an array of objects representing the name and value of each field that will be sent to the server;
                for (var i = 0; i < formData.length; i++) {
                    if (!formData[i].value) {
                        alert('请选择文件！');
                        return false;
                    }
                }
            },
            success: function (responseText) {
                $("#uploadform").resetForm();
                var DialogVars = $.parseJSON(result);//响应信息
                $('#msg').text(responseText.fileName + ": " + responseText.message);
                alert(responseText.message);
            },
            error: function (xhr, textStatus, errorThrown) {
                $("#uploadform").resetForm();
                alert('文档上传错误.');
            }
        });//end ajaxForm
    });//end $(function(){})
</script>

<h2>Upload Files</h2>
<form id="uploadform" action="/Home/UploadFile" method="post" enctype="multipart/form-data">
<div id="upload">
    <input type="file" name="uploadfile" style="border: 1px solid gray;" />
</div>
<input type="submit" value="上传" />
</form>
<label id="msg"></label>